/*CSS document*/

/*Start of Meyers Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of Meyers Reset*/


/*Document set up*/
body {
    background: rgb(255,254,245);
    font-family:"lato", sans-serif;
    font-weight:300;
    font-style:normal;
}

div.container {
    max-width: 40em;
    margin: auto;
    padding: 1em;
}

/*Header*/

.logo-home{
    width: 45%;
    padding: 1em 27.5%
}

.logo{
    width: 30%;
    padding:1em 0;
    margin: 1em 35% 0;
}

div #intro-to-useful{
    background-color: rgb(235,240,225);
    padding: 1em 2em;
    line-height: 1.5em;
}

/*Navigation for all pages*/ 
nav{
    display:table;
    margin: auto;
}

nav ul{
    margin-bottom: 1em;
    list-style-type: none;
    padding: 1em;
    
}

nav li{
    font-weight: 400;
    padding: .75em;
    margin: .25em;
    display: inline-block;
    background-color: rgb(215,220,205);
}

nav li:hover{
    background-color: rgb(235,240,225);
}

nav li:target{
    background-color: rgb(235,240,225)
}


/*Links*/
a{
    text-decoration: none;
    color: #000;
}

a.source{
    text-decoration: underline;
}


/*Images*/

figure {
    margin: 0;
}

figcaption{
    font-style:italic;
    padding-bottom: 1em;
}

img {
    width: 100%;
    padding: .5em 0;
}
    #love-earth{
        width:30%;
        padding: 1em 35%
    }

/*Paragraphs*/
h1{
    font-size:1.5em;
    font-weight:900;
    padding-bottom: 0.5em;
}

h2{
    font-size: 1.5em;
    font-weight: 900;
    padding-bottom: 0.25em;
}

#quote{
    font-weight: 400;
    font-style: italic;
}

#team{
    font-style: italic;
}

p{
    padding-bottom: 1.5em;
    line-height: 1.5em;
}

.inline-link{
    text-decoration: underline;
    text-decoration-color: rgb(100,100,100);
}

.beginning{
    font-weight: 400;
}

h3{
    font-weight: 700;
    
}
h4{
    font-style: italic;
}

/*Photo gallery and radio nav*/

section.photo-gallery{
    background-color:rgb(215,220,205);
    padding: 1em 1.5em 0;
    margin-bottom:1.5em;
}

main.photo-gallery{
    position: relative;
    padding-bottom: calc(59% + 6em);
}

figure.photo-gallery{
position: absolute; 
width:100%;
opacity: 0;
transition: opacity 1s;
}

figcaption{
margin:0.25em 0;
}

input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1;
}

nav.photo-gallery{
display:grid;
grid-template-columns: repeat(4, 1fr);
grid-gap:0.25em;}

label img{padding:0;}

label:hover{
opacity: 0.7;
}

input{
    display: none;
}